@import "./variables.scss";

.react-calendar {
  width: 45%;
  height: 70%;
  max-width: 100%;
  background: transparent;
  font-family: $secondary-font;
  line-height: 1.125em;
  @media (max-width: 420px) {
    height: 80%;
  }
}
.react-calendar--doubleView {
  width: 38.46vw;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
  @media (max-width: 420px) {
    margin: 0;
  }
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
  @media (max-width: 420px) {
    width: 45%;
  }
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 4.07vh;
  margin-bottom: 1em;
  @media (max-width: 1200px) {
    height: 5.07vh;
    margin-bottom: 1.2em;
  }
  @media (max-width: 420px) {
    height: 7vh;
    margin-bottom: 0.9em;
  }
}
.react-calendar__navigation button {
  min-width: 2.29vw;
  background: none;
  font-family: $secondary-font;
  font-size: 0.933rem;
  font-weight: 700;
  @media (max-width: 1200px) {
    font-size: 1.23rem;
  }
}

.react-calendar__navigation button:disabled {
  opacity: 0.4;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 0.93vh 0.35vw;
  background: none;
  text-align: center;
  line-height: 0.708rem;
  font-weight: 700;
  font-family: $secondary-font;
  color: $main-color-medium;
  @media (max-width: 1200px) {
    line-height: 0.9rem;
    font-size: 1.1rem;
  }
  @media (max-width: 880px) {
    line-height: 0.8rem;
    font-size: 0.98rem;
  }
  @media (max-width: 420px) {
    line-height: 0.7rem;
    font-size: 0.7rem;
  }
}
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.8;
}
.react-calendar__month-view__days__day--weekend {
  color: #d23824;
}
.react-calendar__tile:disabled {
  opacity: 0.35;
  pointer-events: none;
}

.react-calendar__tile--now {
  box-shadow: 0px 0px 0 0.04rem inset darken($main-color, 82%);
}

.react-calendar__tile--active {
  background-color: darken($main-color, 25%);
}

.react-calendar--selectRange .react-calendar__tile--hover,
.react-calendar__tile:hover {
  background-color: #e6e6e6;
}

button.react-calendar__navigation__label {
  pointer-events: none;
  color: $main-color-dark !important;
  background-color: $main-color-light !important;
  opacity: 1 !important;
  font-size: 0.733rem;
  @media (max-width: 1200px) {
    font-size: 0.9rem;
  }
}
abbr[title] {
  color: $main-color-dark !important;
  text-decoration: none !important;
  font-size: 0.533rem;
  @media (max-width: 1200px) {
    font-size: 0.7rem;
  }
  @media (max-width: 880px) {
    font-size: 0.6rem;
  }
  @media (max-width: 650px) {
    font-size: 0.55rem;
  }
}

.class2 .react-calendar__tile--now {
  background-color: none !important;
}
