$main-font: "Noto Serif Display", "Noto Sans JP", "Cardo", sans-serif;
$secondary-font: "Cardo", "Noto Sans JP", sans-serif;
$third-font: "Noto Sans JP", "Cardo", sans-serif;
$main-color: antiquewhite;
$main-color-dark: darken($main-color, 90%);
$main-color-medium: darken($main-color, 77%);
$main-color-light: darken($main-color, 55%);
$picture-contrast: contrast(112%);

//subpages
