@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@400;500&family=Noto+Serif+Display:wght@100;200;300;400;500;600&display=swap");
@import "../components/scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 24px;
  @media (max-width: 1600px) {
    font-size: 17px; //16px provide to the same proportion how 24px
  }
  @media (max-width: 1200px) {
    font-size: 15px; //16px provide to the same proportion how 24px
  }
}

// 1200px 17px

body {
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
